@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom , #7AB8BF, #C4EEF2);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #025159;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #025159;
    text-align: center;
    text-shadow: 3px 3px 5px #7AB8BF;
}

h2 {
    color: #A67458;
}

p {
    text-align: justify;

}